<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
              <p>We are part of the <a href="https://www.usz.ch/en/">Faculty of Medicine</a>, University of Zurich, Zurich, Switzerland</p>
	       <p> <a href="https://google.com">Department of Dermatology</a>, University Hospital Zurich, Zurich, Switzerland.</p> 
		<p> and <a href="https://google.com">Christine Kühne-Center for Allergy Research and Education</a>, Davos, Switzerland.</p>
		   <p></p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="https://www.hochgebirgsklinik.ch/">HGK </a> grants from <a href="https://www.hochgebirgsklinik.ch/">blablabla</a> <br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Herman-Burchard-Strasse 9<br />
		  CH-7265 Davos Wolfgang<br />
		  Switzerland <br />
            (<a href="https://goo.gl/maps/qGEet5kioAXZHQc7A">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
