<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
              <p>We are part of the <a href="https://www.usz.ch/en/">University Hospital Zurich</a> at <a href="https://uzh.ch/cmsssl/en.html">University of Zurich: USZ</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="https://www.hochgebirgsklinik.ch/">HGK </a> grants from <a href="https://www.hochgebirgsklinik.ch/">MMA</a> <br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Herman-Burchard-Strasse 9<br />
		  CH-7265 Davos Wolfgang<br />
		  Switzerland <br />
            (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
